<div class="container col-lg-3">
        <div class="jumbotron jumbotron-fluid"style="background-color:white">
           <div class="row">
                <div class="col-md-12">
                    <div class="text-inline">
                        <img src="../Images/Icon/pp.JPG" class="avatar img-responsive" style="border-radius:50%"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                <h4><u>Badar Ahmed</u></h4>
                </div>
            </div>
           <div class="row"> 
               <div class="col-md-12">
                    Admin
                </div>
            </div>
       
    </div>

</div>

<div class="container col-lg-9">
    <div class="col-sm-12 text-center">
        <h3 class="display-4">Activities</h3>
    </div>
    
    <div class="col-md-4">
        <div class="jumbotron" style="background-color:white" ng-click="adminTutor()">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-inline">
                        <img src="../Images/Icon/tutor_icon.ico" class="avatar img-responsive" style="border-radius:50%"/>
                    </div>
                </div>
            </div>   
            <div class="row">
               <div class="col-md-12 text-inline">
                    <h3 class="center-block badge">{{totalTutors}}</h3>
               </div>
           </div>
        </div>
    </div>
   

    <div class="col-md-4">
        <div class="jumbotron jumbotron-fluid"style="background-color:white">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-inline">
                        <img src="../Images/Icon/student_icon.png" class="avatar img-responsive" style="border-radius:50%"/>
                    </div>
                </div>
            </div>  
               <div class="row"> 
                   <div class="col-md-12">
                    <h3 class="center-block badge">00</h3>
                    </div>
                </div>
       
        </div>
    </div>
    <div class="col-md-4">
        <div class="jumbotron jumbotron-fluid" style="background-color:white">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-inline">
                        <img src="../Images/Icon/user_icon.png" class="avatar img-responsive" style="border-radius:50%"/>
                    </div>
                </div>
            </div> 
               <div class="row"> 
                   <div class="col-md-12">
                    <h3 class="center-block badge">00</h3>
                    </div>
                </div>
         </div>
    </div>
        <div class="col-md-4">
        <div class="jumbotron jumbotron-fluid" style="background-color:white" ng-click="adminItem()">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-inline">
                        <img src="../Images/Icon/item_icon.png" class="avatar img-responsive"/>
                    </div>
                </div>
            </div> 
                    <div class="row">
                        <div class="col-md-12">
                    <h3 class="center-block badge">{{totalItems}}</h3>
                        </div>
                    </div>
         </div>
    </div>
</div>