<div class="col-lg-12">
    <div class="col-md-12">
        <h2 class="text-center display-1"><STRONG>RAWALPINDI TUTOR UPDATION LIST</STRONG></h2>
    </div>
    <div class="col-lg-12">
    <br />
    <br />
    <form class="form-inline">
            <div class="form-group">
                <input type="text" ng-model="search" class="form-control" placeholder="Search">
                <select class="form-control" type="text" name="keyword" ng-required="true" ng-model="searchKeyword" ng-options="keyword for keyword in keyword"></select>
            <button class="btn btn-default btn-md" ng-click="admin();searchField(search)"><span class="glyphicon glyphicon-search"></span></button>

            </div>
    </form>
    <table ng-table="vm.tableParams" class="table col-lg-12 table-bordered table-lg table-striped table-condensed" style="font-size:11px;background-color:white" show-filter="true">

    <thead>
        <th class="col-lg-1">Registration No</th>
        <th class="col-lg-1">Name</th>
        <th class="col-lg-1">Father Name</th>
        <th class="col-lg-1">Designation</th>
        <th class="col-lg-1">BPS</th>
        <th class="col-lg-1">Official Address</th>
        <th class="col-lg-2">Mailing Address</th>
        <th class="col-lg-1">Qualification</th>
        <th class="col-lg-1">Phone</th>
        <th class="col-lg-1">Gender</th>
        <th class="col-lg-1">Tehsil</th>
        <th class="col-lg-1">Status</th>
        <th class="col-lg-1">Detail</th>
    </thead>
        <tr dir-paginate="tutors in tutors|itemsPerPage: tutorsPerPage" total-items="totalTutors" current-page="pagination.current" | orderBy:sortKey:reverse |filter:search">
            <th scope="row">{{tutors.reg_no}} </th>
            <td>{{tutors.name}}</td>
            <td>{{tutors.f_name}}</td>
            <td>{{tutors.designation}}</td>
            <td>{{tutors.basic_pay_scale}}</td>
            <td>{{tutors.official_add}}</td>
            <td>{{tutors.mail_add}}</td>
            <td>{{tutors.qulification}}</td>
            <td>{{tutors.phone}}</td>
            <td scope="row" ng-show="tutors.gender === '1'">Male</td>
            <td scope="row" ng-show="tutors.gender === '2'">Female</td>
            <td>{{tutors.tehsil}}</td>
            <td scope="row" ng-show="tutors.t_status === 'verified'"  class="text-success">
              Verified
            </td>
            <td scope="row" ng-show="tutors.t_status === 'unverified'" class="text-danger">
              Unverified
            </td>
            <td scope="row">
               <button class="btn btn-default btn-sm" ng-click="DetailTutor(tutors.tutor_id)">Detail</button>
            </td>

        </tr>
    </table>

        <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" > </dir-pagination-controls>
            </div>
            <div class="col-sm-9">
                <input type="button" class="btn btn-default" value="Back" ng-click="cancelForm()"/>
       </div>
   </div>     