<div class="col-lg-12">
    <div class="col-lg-12">
            <div class="col-md-9" style="background-color:white">
            <fieldset>
                <legend class="text-center"><em>TUTOR INFORMATION</em></legend>
                <div class="col-md-12 form-group form-inline">
                    <label class="col-md-3 control-label"><em>Registration No</em></label>
                    <label class="col-md-3 text-muted">{{tutors.reg_no}}</label>

                    <label class="col-md-3 control-label"><em>Name</em></label>
                    <label class="col-md-3 text-muted">{{tutors.name}}</label>
                </div>
       
                <div class="col-md-12 form-group form-inline">
                    <label class="col-md-3 control-label"><em>Father Name</em></label>
                    <label class="col-md-3 text-muted">{{tutors.f_name}}</label>

                    <label class="col-md-3 control-label"><em>Gender</em></label>
                    <label scope="row" ng-show="tutors.gender === '1'">Male</label>
                    <label scope="row" ng-show="tutors.gender === '2'">Female</label>
                </div>
       
                <div class="col-md-12 form-group form-inline">
                    <label class="col-md-3 control-label"><em>Designation</em></label>
                    <label class="col-md-3 text-muted">{{tutors.designation}}</label>

                    <label class="col-md-3 control-label"><em>BPS</em></label>
                    <label class="col-md-3 text-muted">{{tutors.basic_pay_scale}}</label>
                </div>
        
                <div class="col-md-12  form-group form-inline">
                    <label class="col-md-3 control-label"><em>Official Address</em></label>
                    <label class="col-md-3 text-muted">{{tutors.official_add}}</label>

                    <label class="col-sm-3 control-label"><em>Mailing Address</em></label>
                    <label class="col-sm-3 text-muted">{{tutors.mail_add}}</label>

               </div>
       
                <div class="col-md-12  form-group form-inline">
                    <label class="col-md-3 control-label"><em>Qualification</em></label>
                    <label class="col-md-3 text-muted">{{tutors.qulification}}</label>

                    <label class="col-md-3 control-label"><em>Phone</em></label>
                    <label class="col-md-3 text-muted">{{tutors.phone}}</label>
                 </div>

                <div class=" col-md-12 form-group form-inline">
                    <label class="col-md-3 control-label"><em>Tehsil</em></label>
                    <label class="col-md-3 text-muted">{{tutors.tehsil}}</label>
                </div>
            </fieldset>
         </div>
            <div class="col-md-3">

                <div class="col-sm-12">
                    <blockquote class="blockquote blockquote-reverse" ng-show="tutors.image_profile == '../../'"><em>Profile Picture: Not Uploaded</em></blockquote>
                    <label class="control-label"ng-show="tutors.image_profile.indexOf('Images/Tutor_Profile/') != -1">Profile Image</label>
                    <a ng-click="openLightboxModalTutor(0)" ng-show="tutors.image_profile.indexOf('Images/Tutor_Profile/') != -1">
                    <img ng-src="{{tutors.image_profile}}"  class="avatar img-responsive" alt="Responsive image">
                    </a>
                    </div>
                <div class="col-sm-12">
                    <blockquote class="blockquote blockquote-reverse" ng-show="tutors.image_updation_form == '../../'"><em>Updation Form Picture: Not Uploaded</em></blockquote>
                    <label class="control-label" ng-show="tutors.image_updation_form.indexOf('Images/Tutor_Updation_Form/') != -1">Updation Form Image</label>
                    <a ng-click="openLightboxModalTutor(1)" ng-show="tutors.image_updation_form.indexOf('Images/Tutor_Updation_Form/') != -1">
                    <img ng-src="{{tutors.image_updation_form}}"  class="avatar img-responsive" alt="Responsive image">
                    </a>
               </div>
            </div>
        </div>
    <legend class="text-center"><em>TUTOR EXPERIENCE</em></legend>
        <div class="col-md-12">
            <table ng-table="vm.tableParams" class="table col-lg-12 table-bordered table-lg table-striped table-condensed" style="font-size:11px;background-color:white" show-filter="true">

            <thead>
                <th class="col-lg-1">Semester</th>
                <th class="col-lg-1">Year</th>
                <th class="col-lg-1">Section</th>
                <th class="col-lg-1">Total Students</th>
                <th class="col-lg-1">Course Code</th>
                <th class="col-lg-1">Meetings</th>
                <th class="col-lg-2">Assignments</th>
                <th class="col-lg-1">Gross AMount</th>
                <th class="col-lg-1">Tax Deduc.</th>
                <th class="col-lg-1">Net Amount</th>
                <th class="col-lg-1">Group Noti.</th>
                <th class="col-lg-1">Diary No.</th>
            </thead>

            <tr ng-repeat="experience in experience">
                    <td>{{experience.semester}}</td>

                    <td>{{experience.year}}</td>
                    
                    <td>{{experience.section}}</td>

                    <td>{{experience.no_of_stds}}</td>
                
                    <td >{{experience.course_code}}</td>
                    <td>{{experience.meetings_total}}</td>
                
                    <td>{{experience.assignment_total}}</td>
                       
                    <td>{{experience.gross_amount}}</td>
                    <td>{{experience.incomTax}}</td>
                       
                    <td>{{experience.net_amount}}</td>
                    <td>{{experience.group_notification}}</td>
                       
                    <td>{{experience.diaryNo_date}}</td>
                
             </tr>
                </table>
        </div>
    <div class="col-md-12">
    <fieldset>
        <legend class="text-center"><em>TUTOR CREDENTIALS</em></legend>
        <div ng-repeat="qualification in qualification" ng-init="outerIndex = $index">
            <legend class="text-center"><em> Degree {{outerIndex + 1}}</em></legend>
         <div class="col-md-12  form-group form-inline">
            <label class="col-md-3 control-label"><em>Degree Title</em></label>
            <label class="col-md-3 text-muted">{{qualification.degree_name}}</label>

            <label class="col-md-3 control-label"><em>Institute</em></label>
            <label class="col-md-3 text-muted">{{qualification.institute_name}}</label>
        </div>
        <div class="col-md-12  form-group form-inline">
            <label class="col-md-3 control-label"><em>Date of complete</em></label>
            <label class="col-md-3 text-muted">{{qualification.date_of_complete}}</label>

            <label class="col-md-3 control-label"><em>Pass Division</em></label>
            <label class="col-md-3 text-muted">{{qualification.pass_division}}</label>
        </div>
        <div class="col-md-12  form-group form-inline" >
            <label class="col-md-3 control-label"><em>Is Attested</em></label>
            <label class="col-md-3 text-muted">{{qualification.is_attested}}</label>
           
            <label class="col-md-3 control-label"><em>Degree Image</em></label>
            <a ng-click="openLightboxModal($index)" ng-show="qualification.image_degree.indexOf('Images/Tutor_Degree/') != -1">
            <img ng-src="{{qualification.image_degree}}" style="width:200px; height:200px" class="img-responsive" alt="Responsive image">
            </a>

            <label class="col-md-3 text-muted" ng-show="qualification.image_degree == '../../'"><em>Not Uploaded</em></label>
        </div>
            
        </div>
    </fieldset>
                    <div class="col-md-9 text-center">
                <input type="button" class="btn btn-default" value="Back" ng-click="cancelForm()"/>
            </div>
        </div>
    </div>