@{
    ViewBag.Title = "Rwp Region";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<html ng-app="formApp">
<head>
    <title>@ViewBag.Title</title>
    
</head>

<body class="container">
    <br />
    <div ng-view></div>
</body>

</html>